{{ define "main"}}
<html>
    {{ partial "head" }}   
<body>
    {{ partial "header" (dict "Kind" .Kind "Template" "Single") }}
    
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
        <div class="mx-auto max-w-3xl">
          <!-- Content goes here -->
          <section class="test">
            <h1>{{.Title}}</h1>
                <h3>{{.Params.Author}} | {{.Params.date}}</h3>
                {{.Params.tags}}<br>
                {{.Params.categories}}<br><br>
            {{.Content}}
          </section>
          <div>
            <a href="{{.Permalink}}">{{.Title}}<br>{{.Params.Author}}</a><br></li>
          </div>
       </div>
    </div>
</body>
<script src="/js/buttons.js"></script>
</html>
{{end}}